In [ ]:
pip install openpyxl

In [ ]:
import pandas as pd
df_facilities = pd.read_excel('./Airport_Data.xlsx', sheet_name='Facilities')

In [24]:
df_facilities

,SiteNumber,Type,LocationID,EffectiveDate,Region,DistrictOffice,State,StateName,County,CountyState,...,AirportPositionSource,AirportPositionSourceDate,AirportElevationSource,AirportElevationSourceDate,ContractFuelAvailable,TransientStorage,OtherServices,WindIndicator,IcaoIdentifier,BeaconSchedule2
0,50009.*A,AIRPORT,'ADK,3/30/2017,AAL,NONE,AK,ALASKA,ALEUTIANS WEST,AK,...,3RD PARTY SURVEY,00:00:00,3RD PARTY SURVEY,00:00:00,NaN,HGR,CARGO,Y,PADK,SS-SR
1,50016.1*A,AIRPORT,'AKK,3/30/2017,AAL,NONE,AK,ALASKA,KODIAK ISLAND,AK,...,NACO,00:00:00,NACO,00:00:00,NaN,NaN,NaN,Y,PAKH,NaN
2,50017.*A,AIRPORT,'Z13,3/30/2017,AAL,NONE,AK,ALASKA,BETHEL,AK,...,STATE,00:00:00,STATE,00:00:00,NaN,NaN,CARGO,Y-L,NaN,SEE RMK
3,50017.1*C,SEAPLANE BASE,'KKI,3/30/2017,AAL,NONE,AK,ALASKA,BETHEL,AK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
4,50020.*A,AIRPORT,'AKI,3/30/2017,AAL,NONE,AK,ALASKA,BETHEL,AK,...,STATE,00:00:00,STATE,00:00:00,NaN,NaN,CARGO,Y-L,PFAK,SS-SR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746,50920.12*C,SEAPLANE BASE,'2Y3,3/30/2017,AAL,NONE,AK,ALASKA,SKAGWAY-YAKUTAT,AK,...,FAA-EST,00:00:00,NaN,NaN,NaN,TIE,CARGO,NaN,NaN,NaN
747,50920.*A,AIRPORT,'YAK,3/30/2017,AAL,NONE,AK,ALASKA,SKAGWAY-YAKUTAT,AK,...,3RD PARTY SURVEY,00:00:00,3RD PARTY SURVEY,00:00:00,NaN,HGR,CARGO,Y-L,PAYA,SS-SR
748,50925.1*A,AIRPORT,'A77,3/30/2017,AAL,NONE,AK,ALASKA,KUSKOKWIM,AK,...,NaN,NaN,NaN,NaN,NaN,NaN,CARGO,NaN,NaN,NaN
749,50928.*C,SEAPLANE BASE,'78K,3/30/2017,AAL,NONE,AK,ALASKA,KETCHIKAN GATEWAY,AK,...,NaN,NaN,NaN,NaN,NaN,NaN,CARGO,N,NaN,NaN
750,50990.*A,AIRPORT,'L20,3/30/2017,AAL,NONE,AK,ALASKA,UPPER YUKON,AK,...,FAA-EST,00:00:00,NaN,NaN,NaN,NaN,CARGO,Y,NaN,NaN

In [ ]:
df_facilities.head() #sirve para obtener las primeras filas(automaticamente leera las 5 primeras filas)

In [ ]:
df_facilities.tail() #sirve para leer las 5 ultimas filas

In [ ]:
df_facilities.head(10)

In [ ]:
df_facilities.tail(100)

In [ ]:
df_facilities.shape #para saber cuantas filas y columnas contiene el DF

In [ ]:
df_facilities['Type'].head(10) #devuelve las 10 primeras filas de la columna Type

In [ ]:
df_facilities['Type'].head(10)

In [ ]:
#para mostrar hasta 50 filas al imprimir un DataFrame o Serie. 
# #Si el objeto tiene más filas, se resumen mostrando solo las primeras y últimas filas.
pd.set_option('display.max_rows', 50)
df_facilities

In [ ]:
#Devuelve un arreglo con los valores únicos presentes en la columna Type del df.
df_facilities["Type"].unique()

In [ ]:
#muestra los tipos de datos (como int64, float64, object, etc.) de cada columna del DataFrame
df_facilities.dtypes

In [ ]:
#crea una Serie booleana donde cada valor es True si el valor en la columna #
# 'Type' es igual a 'Airport', y False en caso contrario.
df_facilities['Type']==  'SEAPLANE BASE' #'Airport'

In [ ]:
#filtra el df y devuelve solo las filas donde la columna "Type" tiene el valor "SEAPLANE BASE".
df_facilities[df_facilities["Type"] == "SEAPLANE BASE"]

In [ ]:
#ordena el df en función de la columna "ARPElevation", en orden descendente (ascending=False). 
#Devuelve un nuevo DataFrame con las filas reordenadas.
df_facilities.sort_values(by = "ARPElevation", ascending = False)

In [27]:
df_facilities.describe()

,ARPElevation,MagneticVariationYear,TrafficPatternAltitude,DistanceFromCBD,LandAreaCoveredByAirport,LastInspectionDate,LastOwnerInformationDate,UNICOMFrequencies,CTAFFrequency,SingleEngineGA,...,GlidersOperational,MilitaryOperational,Ultralights,OperationsCommercial,OperationsCommuter,OperationsAirTaxi,OperationsGALocal,OperationsGAItin,OperationsMilitary,ContractFuelAvailable
count,751.000000,615.000000,13.000000,742.000000,241.000000,5.140000e+02,4.010000e+02,78.000000,603.000000,500.000000,...,8.000000,11.000000,24.00000,43.000000,0.0,330.000000,210.000000,334.000000,75.000000,0.0
mean,425.932091,1993.744715,984.538462,5.109164,429.128631,6.675374e+06,4.874277e+06,122.840705,122.906551,11.776000,...,1.625000,21.727273,3.37500,4652.279070,NaN,2454.706061,2178.309524,1727.730539,3007.706667,NaN
std,657.117067,11.635403,447.404481,10.304681,969.927770,1.804434e+06,3.385806e+06,0.089471,0.784030,64.867877,...,2.445842,32.607027,7.51701,15318.566588,NaN,8194.878989,6548.473254,7046.389637,11858.442437,NaN
min,0.000000,1965.000000,560.000000,0.000000,1.000000,1.031984e+06,1.052006e+06,122.700000,118.300000,0.000000,...,0.000000,0.000000,0.00000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,NaN
25%,45.000000,1985.000000,600.000000,0.000000,20.000000,6.072016e+06,2.052015e+06,122.800000,122.800000,0.000000,...,0.000000,2.000000,1.00000,156.000000,NaN,100.000000,85.500000,50.000000,50.000000,NaN
50%,170.000000,1985.000000,800.000000,2.000000,111.000000,6.302016e+06,3.301983e+06,122.800000,122.900000,1.000000,...,0.500000,3.000000,1.00000,996.000000,NaN,435.000000,300.000000,150.000000,100.000000,NaN
75%,440.000000,2005.000000,1100.000000,5.000000,302.000000,7.282015e+06,8.072015e+06,122.800000,122.900000,5.000000,...,2.000000,33.500000,2.00000,2400.000000,NaN,1500.000000,1500.000000,500.000000,500.000000,NaN
max,3984.000000,2020.000000,2078.000000,96.000000,6506.000000,1.221202e+07,1.231198e+07,123.075000,127.200000,999.000000,...,6.000000,90.000000,30.00000,98395.000000,NaN,86135.000000,58872.000000,76206.000000,78500.000000,NaN

In [19]:
df_facilities["ARPElevation"].mean()

np.float64(425.93209054593876)

In [ ]:
df_facilities["ARPElevation"].max()

In [ ]:
df_facilities["ARPElevation"].min()

In [ ]:
df_seaplane = df_facilities[df_facilities["Type"] == "SEAPLANE BASE"]

In [ ]:
#exporta el DataFrame df_seaplane a un archivo de Excel llamado seaplane.xlsx 
#guardado en el directorio "./"
df_seaplane.to_excel("./seaplane.xlsx")